<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shelf">
            <h2><span jhiTranslate="barlevelserviceApp.shelf.detail.title">Shelf</span> {{ shelf.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="barlevelserviceApp.shelf.name">Name</span></dt>
                <dd>
                    <span>{{ shelf.name }}</span>
                </dd>
                <dt><span jhiTranslate="barlevelserviceApp.shelf.discription">Discription</span></dt>
                <dd>
                    <span>{{ shelf.discription }}</span>
                </dd>
                <dt><span jhiTranslate="barlevelserviceApp.shelf.tenantId">Tenant Id</span></dt>
                <dd>
                    <span>{{ shelf.tenantId }}</span>
                </dd>
                <dt><span jhiTranslate="barlevelserviceApp.shelf.zone">Zone</span></dt>
                <dd>
                    <div *ngIf="shelf.zoneId">
                        <a [routerLink]="['/zone', shelf.zoneId, 'view']">{{ shelf.zoneName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shelf', shelf.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
