<div>
    <h2 id="page-heading">
        <span jhiTranslate="barlevelserviceApp.shelf.home.title">Shelves</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shelf" [routerLink]="['/shelf/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="barlevelserviceApp.shelf.home.createLabel">
            Create a new Shelf
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shelves?.length === 0">
        <span jhiTranslate="barlevelserviceApp.shelf.home.notFound">No shelves found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shelves?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="barlevelserviceApp.shelf.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="discription"><span jhiTranslate="barlevelserviceApp.shelf.discription">Discription</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tenantId"><span jhiTranslate="barlevelserviceApp.shelf.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zoneName"><span jhiTranslate="barlevelserviceApp.shelf.zone">Zone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shelf of shelves ;trackBy: trackId">
                    <td><a [routerLink]="['/shelf', shelf.id, 'view']">{{ shelf.id }}</a></td>
                    <td>{{ shelf.name }}</td>
                    <td>{{ shelf.discription }}</td>
                    <td>{{ shelf.tenantId }}</td>
                    <td>
                        <div *ngIf="shelf.zoneId">
                            <a [routerLink]="['/zone', shelf.zoneId , 'view']" >{{ shelf.zoneName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shelf', shelf.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shelf', shelf.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shelf)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="shelves?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
