<div>
    <h2 id="page-heading">
        <span jhiTranslate="barLevelServiceApp.zone.home.title">Zones</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-zone" [routerLink]="['/zone/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="barLevelServiceApp.zone.home.createLabel">
            Create a new Zone
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="zones?.length === 0">
        <span jhiTranslate="barLevelServiceApp.zone.home.notFound">No zones found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="zones?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zoneID"><span jhiTranslate="barLevelServiceApp.zone.zoneID">Zone ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="barLevelServiceApp.zone.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="discription"><span jhiTranslate="barLevelServiceApp.zone.discription">Discription</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tenantId"><span jhiTranslate="barLevelServiceApp.zone.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="branchName"><span jhiTranslate="barLevelServiceApp.zone.branch">Branch</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inventoryId"><span jhiTranslate="barLevelServiceApp.zone.inventory">Inventory</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let zone of zones ;trackBy: trackId">
                    <td><a [routerLink]="['/zone', zone.id, 'view']">{{ zone.id }}</a></td>
                    <td>{{ zone.zoneID }}</td>
                    <td>{{ zone.name }}</td>
                    <td>{{ zone.discription }}</td>
                    <td>{{ zone.tenantId }}</td>
                    <td>
                        <div *ngIf="zone.branchId">
                            <a [routerLink]="['/branch', zone.branchId , 'view']" >{{ zone.branchName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="zone.inventoryId">
                            <a [routerLink]="['/inventory', zone.inventoryId , 'view']" >{{ zone.inventoryId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/zone', zone.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/zone', zone.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(zone)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="zones?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
