<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inventory">
            <h2><span jhiTranslate="barlevelserviceApp.inventory.detail.title">Inventory</span> {{ inventory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="barlevelserviceApp.inventory.tennentID">Tennent ID</span></dt>
                <dd>
                    <span>{{ inventory.tennentID }}</span>
                </dd>
                <dt><span jhiTranslate="barlevelserviceApp.inventory.currentStockCount">Current Stock Count</span></dt>
                <dd>
                    <span>{{ inventory.currentStockCount }}</span>
                </dd>
                <dt><span jhiTranslate="barlevelserviceApp.inventory.product">Product</span></dt>
                <dd>
                    <div *ngIf="inventory.productId">
                        <a [routerLink]="['/product', inventory.productId, 'view']">{{ inventory.productId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="barlevelserviceApp.inventory.branch">Branch</span></dt>
                <dd>
                    <div *ngIf="inventory.branchId">
                        <a [routerLink]="['/branch', inventory.branchId, 'view']">{{ inventory.branchId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="barlevelserviceApp.inventory.zone">Zone</span></dt>
                <dd>
                    <div *ngIf="inventory.zoneId">
                        <a [routerLink]="['/zone', inventory.zoneId, 'view']">{{ inventory.zoneId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="barlevelserviceApp.inventory.shelf">Shelf</span></dt>
                <dd>
                    <div *ngIf="inventory.shelfId">
                        <a [routerLink]="['/shelf', inventory.shelfId, 'view']">{{ inventory.shelfId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inventory', inventory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
