<div>
    <h2 id="page-heading">
        <span jhiTranslate="barlevelserviceApp.inventory.home.title">Inventories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inventory" [routerLink]="['/inventory/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="barlevelserviceApp.inventory.home.createLabel">
            Create a new Inventory
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="inventories?.length === 0">
        <span jhiTranslate="barlevelserviceApp.inventory.home.notFound">No inventories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inventories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tennentID"><span jhiTranslate="barlevelserviceApp.inventory.tennentID">Tennent ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currentStockCount"><span jhiTranslate="barlevelserviceApp.inventory.currentStockCount">Current Stock Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productId"><span jhiTranslate="barlevelserviceApp.inventory.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="branchId"><span jhiTranslate="barlevelserviceApp.inventory.branch">Branch</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zoneId"><span jhiTranslate="barlevelserviceApp.inventory.zone">Zone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shelfId"><span jhiTranslate="barlevelserviceApp.inventory.shelf">Shelf</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventory of inventories ;trackBy: trackId">
                    <td><a [routerLink]="['/inventory', inventory.id, 'view']">{{ inventory.id }}</a></td>
                    <td>{{ inventory.tennentID }}</td>
                    <td>{{ inventory.currentStockCount }}</td>
                    <td>
                        <div *ngIf="inventory.productId">
                            <a [routerLink]="['/product', inventory.productId , 'view']" >{{ inventory.productId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="inventory.branchId">
                            <a [routerLink]="['/branch', inventory.branchId , 'view']" >{{ inventory.branchId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="inventory.zoneId">
                            <a [routerLink]="['/zone', inventory.zoneId , 'view']" >{{ inventory.zoneId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="inventory.shelfId">
                            <a [routerLink]="['/shelf', inventory.shelfId , 'view']" >{{ inventory.shelfId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/inventory', inventory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/inventory', inventory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inventory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="inventories?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
