<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-inventory-heading" jhiTranslate="barLevelServiceApp.inventory.home.createOrEditLabel">Create or edit a Inventory</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barLevelServiceApp.inventory.productID" for="field_productID">Product ID</label>
                    <input type="number" class="form-control" name="productID" id="field_productID"
                           formControlName="productID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barLevelServiceApp.inventory.tennentID" for="field_tennentID">Tennent ID</label>
                    <input type="number" class="form-control" name="tennentID" id="field_tennentID"
                           formControlName="tennentID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barLevelServiceApp.inventory.branchID" for="field_branchID">Branch ID</label>
                    <input type="number" class="form-control" name="branchID" id="field_branchID"
                           formControlName="branchID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barLevelServiceApp.inventory.zoneID" for="field_zoneID">Zone ID</label>
                    <input type="number" class="form-control" name="zoneID" id="field_zoneID"
                           formControlName="zoneID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barLevelServiceApp.inventory.shelfID" for="field_shelfID">Shelf ID</label>
                    <input type="number" class="form-control" name="shelfID" id="field_shelfID"
                           formControlName="shelfID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barLevelServiceApp.inventory.currentStockCount" for="field_currentStockCount">Current Stock Count</label>
                    <input type="number" class="form-control" name="currentStockCount" id="field_currentStockCount"
                           formControlName="currentStockCount"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
