<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-inventory-heading" jhiTranslate="barlevelserviceApp.inventory.home.createOrEditLabel">Create or edit a Inventory</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.inventory.tennentID" for="field_tennentID">Tennent ID</label>
                    <input type="number" class="form-control" name="tennentID" id="field_tennentID"
                           formControlName="tennentID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.inventory.currentStockCount" for="field_currentStockCount">Current Stock Count</label>
                    <input type="number" class="form-control" name="currentStockCount" id="field_currentStockCount"
                           formControlName="currentStockCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.inventory.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" formControlName="productId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackById">{{ productOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.inventory.branch" for="field_branch">Branch</label>
                    <select class="form-control" id="field_branch" name="branch" formControlName="branchId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="branchOption.id" *ngFor="let branchOption of branches; trackBy: trackById">{{ branchOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.inventory.zone" for="field_zone">Zone</label>
                    <select class="form-control" id="field_zone" name="zone" formControlName="zoneId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="zoneOption.id" *ngFor="let zoneOption of zones; trackBy: trackById">{{ zoneOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.inventory.shelf" for="field_shelf">Shelf</label>
                    <select class="form-control" id="field_shelf" name="shelf" formControlName="shelfId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shelfOption.id" *ngFor="let shelfOption of shelves; trackBy: trackById">{{ shelfOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
