<div>
    <h2 id="page-heading">
        <span jhiTranslate="barLevelServiceApp.inventoryStock.home.title">Inventory Stocks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inventory-stock" [routerLink]="['/inventory-stock/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="barLevelServiceApp.inventoryStock.home.createLabel">
            Create a new Inventory Stock
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="inventoryStocks?.length === 0">
        <span jhiTranslate="barLevelServiceApp.inventoryStock.home.notFound">No inventoryStocks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inventoryStocks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inventoryId"><span jhiTranslate="barLevelServiceApp.inventoryStock.inventoryId">Inventory Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productID"><span jhiTranslate="barLevelServiceApp.inventoryStock.productID">Product ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stockCount"><span jhiTranslate="barLevelServiceApp.inventoryStock.stockCount">Stock Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datetime"><span jhiTranslate="barLevelServiceApp.inventoryStock.datetime">Datetime</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventoryStock of inventoryStocks ;trackBy: trackId">
                    <td><a [routerLink]="['/inventory-stock', inventoryStock.id, 'view']">{{ inventoryStock.id }}</a></td>
                    <td>{{ inventoryStock.inventoryId }}</td>
                    <td>{{ inventoryStock.productID }}</td>
                    <td>{{ inventoryStock.stockCount }}</td>
                    <td>{{ inventoryStock.datetime }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/inventory-stock', inventoryStock.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/inventory-stock', inventoryStock.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inventoryStock)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="inventoryStocks?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
