<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-usage-heading" jhiTranslate="barlevelserviceApp.usage.home.createOrEditLabel">Create or edit a Usage</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.usage.usageId" for="field_usageId">Usage Id</label>
                    <input type="number" class="form-control" name="usageId" id="field_usageId"
                           formControlName="usageId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.usage.productID" for="field_productID">Product ID</label>
                    <input type="number" class="form-control" name="productID" id="field_productID"
                           formControlName="productID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.usage.branchID" for="field_branchID">Branch ID</label>
                    <input type="number" class="form-control" name="branchID" id="field_branchID"
                           formControlName="branchID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.usage.zoneID" for="field_zoneID">Zone ID</label>
                    <input type="number" class="form-control" name="zoneID" id="field_zoneID"
                           formControlName="zoneID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.usage.shelfID" for="field_shelfID">Shelf ID</label>
                    <input type="number" class="form-control" name="shelfID" id="field_shelfID"
                           formControlName="shelfID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.usage.usage" for="field_usage">Usage</label>
                    <input type="number" class="form-control" name="usage" id="field_usage"
                           formControlName="usage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.usage.datetime" for="field_datetime">Datetime</label>
                    <div class="d-flex">
                        <input id="field_datetime" type="datetime-local" class="form-control" name="datetime" formControlName="datetime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
