<div>
    <h2 id="page-heading">
        <span jhiTranslate="barlevelserviceApp.usage.home.title">Usages</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-usage" [routerLink]="['/usage/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="barlevelserviceApp.usage.home.createLabel">
            Create a new Usage
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="usages?.length === 0">
        <span jhiTranslate="barlevelserviceApp.usage.home.notFound">No usages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="usages?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="usageId"><span jhiTranslate="barlevelserviceApp.usage.usageId">Usage Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productID"><span jhiTranslate="barlevelserviceApp.usage.productID">Product ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="branchID"><span jhiTranslate="barlevelserviceApp.usage.branchID">Branch ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zoneID"><span jhiTranslate="barlevelserviceApp.usage.zoneID">Zone ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shelfID"><span jhiTranslate="barlevelserviceApp.usage.shelfID">Shelf ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="usage"><span jhiTranslate="barlevelserviceApp.usage.usage">Usage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datetime"><span jhiTranslate="barlevelserviceApp.usage.datetime">Datetime</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usage of usages ;trackBy: trackId">
                    <td><a [routerLink]="['/usage', usage.id, 'view']">{{ usage.id }}</a></td>
                    <td>{{ usage.usageId }}</td>
                    <td>{{ usage.productID }}</td>
                    <td>{{ usage.branchID }}</td>
                    <td>{{ usage.zoneID }}</td>
                    <td>{{ usage.shelfID }}</td>
                    <td>{{ usage.usage }}</td>
                    <td>{{ usage.datetime | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/usage', usage.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/usage', usage.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(usage)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="usages?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
