<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading" jhiTranslate="barlevelserviceApp.product.home.createOrEditLabel">Create or edit a Product</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.product.name" for="field_name" [ngbTooltip]="'barlevelserviceApp.product.help.name' | translate">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.product.barCode" for="field_barCode">Bar Code</label>
                    <input type="text" class="form-control" name="barCode" id="field_barCode"
                           formControlName="barCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.product.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.product.volume" for="field_volume">Volume</label>
                    <input type="number" class="form-control" name="volume" id="field_volume"
                           formControlName="volume"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.product.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.product.subType" for="field_subType">Sub Type</label>
                    <input type="text" class="form-control" name="subType" id="field_subType"
                           formControlName="subType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.product.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.product.containerType" for="field_containerType">Container Type</label>
                    <input type="text" class="form-control" name="containerType" id="field_containerType"
                           formControlName="containerType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.product.barCodeType" for="field_barCodeType">Bar Code Type</label>
                    <select class="form-control" name="barCodeType" formControlName="barCodeType" id="field_barCodeType">
                        <option value="PUC">{{ 'barlevelserviceApp.BarCodeType.PUC' | translate }}</option>
                        <option value="EAN">{{ 'barlevelserviceApp.BarCodeType.EAN' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barlevelserviceApp.product.tenantId" for="field_tenantId">Tenant Id</label>
                    <input type="text" class="form-control" name="tenantId" id="field_tenantId"
                           formControlName="tenantId"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
